.expandableCardContainer {
  width: 300px; /* Fixed width */
  height: 200px; /* Fixed height */
  overflow: auto; /* Enable scrolling if content exceeds the fixed size */
 }

 .contentContainer {
  max-height: 200px; /* Adjust based on your needs */
  max-width: 500px; /* Adjust based on your needs */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
  overflow-x: auto; /* Enable horizontal scrolling if content exceeds max-width */
}
 