.btn {
  border: 4px solid #BE2ED6;
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
 }
 
 .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 