.expSection {
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: auto;
  page-break-inside: avoid;
  padding-top: 40px;
  overflow-y: hidden; /* Hide horizontal scrollbar */
}

.expCompanyContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 70px;
  margin: 20px;
  border-radius: 10px;
  overflow: auto;
  padding-bottom: 10px;
}

.companyText {
  font-size: 24px;
  margin-right: 10px;
}

.cardsContainer {
  position: relative;
}

.cardsContainer::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 50px;
  bottom: 0;
  width: 2px;
  background-color: #000;
  z-index: -1;
}

.dark-mode-text {
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  .text-black, .dark-mode-text {
    color: #000000;
  }
}

