.skillsSection {
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  padding-top: 40px;
}

.skillsContainer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 50px;
   margin-right: 50px;
}  

@media (max-width: 768px) {
  .skillsContainer {
    flex-direction: column;
  }
}

.dark-mode-text {
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  .text-black, .dark-mode-text {
    color: #000000;
  }
}
